<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログイン</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>会員制の掲示板</h1>
  <form action="/try_login" method="POST">
    <label>ユーザー名: <input type="text" name="user"></label><br>
    <label>パスワード: <input type="password" name="pw"></label><br>
    <div>
      <button type="submit">ログイン</button>
      <a href="/register" class="button">新規登録</a>
    </div>
  </form>
</body>
</html>